.modal-contenido{
background-color:none;
width:300px;
padding: 10px 20px;
margin: 20% auto;
position: relative;
color: #fff;
}
.miModal{
background-color: rgba(0,0,0,.8);
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
opacity:0;
pointer-events:none;
transition: all 1s;
z-index: 10000;
}
/*#miModal:target{
opacity:1;
pointer-events:auto;
}*/
/* Estilos para las sugerencias del autocomplete*/
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
  padding: 2px 5px; white-space: nowrap;
  overflow: hidden;
}
.autocomplete-no-suggestion {
  padding: 2px 5px;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: bold; color: #000;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px; color: #000;
  display: block; border-bottom: 1px solid #000;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
/*Fin del los estilos de las sugerencias de autocomplete*/
